/* BEGIN RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* END RESET */

/* BEGIN GENERAL RULES */
body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

.col {
  float: left;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  padding: 0 10%;
}

.center {
  margin: 0 auto;
  width: 80%;
}

a.help {
  position: fixed;
  bottom: -10px;
  right: 14%;
  display: block;
  margin: 0;
  padding: 20px 30px 30px 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #7cbb02;
  transition: all .2s ease;
}

a.help:hover {
  background-color: orange;
  margin-bottom: 10px;
}
/* END GENERAL RULES */

/* BEGIN HEADER */
header {
  color: #fff;
  background-color: #0c325a;
  background-image: url('../img/background-header.png');
  background-repeat: no-repeat;
  background-size: 1300px;
  background-position: 110% 100%;
}

header li {
  display: inline-block;
  margin-right: 20px;
}

header a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  transition: all .2s ease;
}

header a:hover {
  color: orange;
}

/* begin navigation */
header .navigation {
  padding: 10px 0;
}

header .navigation .logo {
  width: 12%;
}

header .navigation .menu {
  width: 44%;
  padding: 12px 0;
}

header .navigation .left {
  text-align: left;
}

header .navigation .right {
  text-align: right;
}
header .navigation .right li:last-child{
  margin-right: 0;
}

header .navigation li a.empty {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 5px 25px;
}

header .navigation li a.empty:hover {
  border-color: orange;
}

header .navigation li a.green {
  background-color: #7cbb02;
  border-radius: 5px;
  padding: 7px 27px;
}

header .navigation li a.green:hover {
  background-color: orange;
  color: #fff;
}

/* begin teaser */
header .teaser {
  width: 35%;
  padding: 160px 0 220px 0;
}

header .teaser h1{
  font-size: 3em;
  line-height: 1.5em;
}
header  a.cta {
  margin: 20px 0;
  background-color: #7cbb02;
  border-radius: 5px;
  padding: 15px 25px;
}

header  a.cta:hover {
  color: #fff;
  background-color: orange;
}
/* END HEADER */

/* BEGIN MAIN */
main {
  color: #333;
}

/* Begin informer */
main .informer {
  text-align: center;
  padding: 50px 0;
  width: 100%;
  background-color: #d3d3d3;
}

main .informer p.title-text {
  font-weight: 600;
  color: #333;
  margin: 10px 0;
  font-size: 2em;
}

main .informer p {
  color: #808080;
  font-size: 1.5em;
}

/*  stydy-process area */
main .study-process {
  border-bottom: 1px solid #d3d3d3;
  padding: 50px 0;
}

/* stydy-process Detail area */
main .study-process .detail {
  width: 24%;
  text-align: center;
}

main .study-process .detail img {
  margin-bottom: 15px;
}

main .study-process .detail img[alt="profile"] {
  width: 150px;
}

main .study-process .detail img[alt="computer"] {
  width: 250px;
}

main .study-process .detail img[alt="doc"] {
  width: 170px;
}

main .study-process .detail h3 {
  color: #7cbb02;
  font-size: 1.7em;
}

main .study-process .detail .divider {
  display: inline-block;
  width: 75px;
  line-height: 1px;
  color: #808080;
  border-top: 1px solid #777;
  margin: 15px 0;

}
main .study-process .detail p {
  color: #808080;
  font-size: 1.2em;
  line-height: 1.7em;
}

main .study-process .detail:nth-child(2) {
  margin-left: 14%;
  margin-right: 14%;
}

/* personal plan area */
main .personal-plan {
  padding: 50px 0;
}

main .personal-plan .box-left {
  width: 50%;
  text-align: right;
}

main .personal-plan .box-left img[alt="mountain"] {
  width: 100%;
  text-align: right;
}

main .personal-plan .box-right {
  width: 38%;
  margin-left: 5%;
}

main .personal-plan .box-right h2 {
  font-size: 2.3em;
  line-height: 1.5em;
}

main .personal-plan .box-right p {
  color: #808080;
  line-height: 1.7em;
  font-size: 1.2em;
  margin: 15px 0 25px 0;
}


/* END MAIN */

/* BEGIN FOOTER */
footer {
  padding: 50px 0 140px 0;
  width: 100%;
  background-color: #d3d3d3;
}

footer .box-left {
  width: 50%;
  text-align: left;
}

footer .box-left p {
  font-size: 2em;
  font-weight: 600;
  line-height: 60px;
}

footer .box-right {
  width: 50%;
  text-align: right;
}

footer .box-right select {
  width: 120px;
  outline: none;
  background-color: #d3d3d3;
  padding: 5px;
  margin: 0 10px;
  font-size: 1em;
  border: none;
  border-bottom: 1px solid #808080;


}

footer .box-right select option {
  background-color: #fff;
  line-height: 1.5em;
}

footer .box-right a.green {
  text-transform: uppercase;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 1em;
  background-color: #7cbb02;
  border-radius: 5px;
  padding: 20px 30px;
  transition: all .2s ease;
}

footer .box-right a.green:hover {
  background-color: orange;
}
/* END FOOTER */
